/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    font-family: "Arial",sans-serif;
}
html, body, div, span, applet, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {

    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


.navbar{
    font-size: large;
    padding: 10px;
}
.navbar ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.navbar a{
    text-decoration: none;
    color: black;
    position: relative;

}
body{
    margin-left: 10%;
    margin-right: 10%;
}
.navbar a:after{
    content: "";
    position: absolute;
    background-image: linear-gradient(45deg,#7ec1f2, #4a62f9);
    width: 0;
    left:0;
    height: 3px;
    bottom:-10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition:0.4s;
}
.navbar a:hover:after{
    width: 100%;
}

#current a:after{
    content: "";
    position: absolute;
    background-image: linear-gradient(45deg,#7ec1f2, #4a62f9);
    width: 100%;
    left:0;
    height: 3px;
    bottom:-10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#name{
    width: 50%;
    margin-left: 5%;
    margin-top: -30%;
    font-size: 5em;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg,#7ec1f2, #4a62f9);
    transition: 0.3s;
}
#name:hover{
    color: deepskyblue;
    text-shadow: 0 0 10px deepskyblue;
}
#pfp{
    margin-top: 5%;
    margin-left: 55%;
    width: 35%;
    border-radius:0 25% 0 25%;

    height: auto;
}

#desc{
    margin-left: 5%;
    width: 48%;
    margin-top: 1em;
    font-size: x-large;
    font-weight: bold;

}
.fa {
    transition: 0.2s;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    transform: scale(1.5);
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {

    background: #125688;
    color: white;}

#socials{
    display: flex;
    width: 50%;
    margin-top: 3%;
    justify-content: space-evenly;
}

#interests{
    margin-top: 5%;
    display:flex;
    justify-content: space-evenly;

}

.container{

    height: 300px;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    align-items: center; transition: transform .2s;

}

.container img{
    width: 99%;
}


.container p{background-image: linear-gradient(45deg,#7ec1f2, #4a62f9);
    border-radius: 20px;
    color:white;

padding: 10px}

.container:hover{
    transform: scale(1.2);
}

.container h2{
    font-size: xx-large;
    padding-bottom:10px ;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-image: linear-gradient(45deg,#7ec1f2, #4a62f9);
}

#qualifications{
    width: 40%;
    float: left;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 10%;

}

.auto-resizable-iframe {
    overflow: hidden;
    max-width: 420px;
    margin: 0px auto;
    width: 40%;
    float:right;
    margin-top: 5%;
    margin-right: 9%; border-radius: 30px;
    transition: 0.3s;
}

.auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 75%;
    height: 0px;
}

.auto-resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.auto-resizable-iframe:hover{

 box-shadow: 0 0 30px black;
}

iframe{
    border-radius: 30px;
}

.wrapper{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.wrapper .title h1{
    text-align: center;
    margin-bottom: 25px;
}

.contact-form{
    display: flex;
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg{
    width: 48%;
}
.wrapper:hover{
    box-shadow: 0 0 30px #4a62f9;
}
.input-fields .input,
.msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom:#5574fc 2px solid ;
    padding: 10px;
    color: #4a62f9;
    width: 100%;
}

.msg textarea{
    height: 187px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #4a62f9;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #4a62f9;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #4a62f9;
}

.btn {
    background: linear-gradient(45deg,#7ec1f2, #4a62f9) ;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.2s;
}

.btn:hover{
    transform: scale(1.05);
}

.title h1{
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg,#7ec1f2, #4a62f9);
}

.container:hover p{
    box-shadow: 0 0 30px #7dc1f3;
}

#qualifications ul{
    font-size: larger;
    color: white;
    padding:25px;
    list-style: disc;
    border-radius: 15px;
    background-image: linear-gradient(45deg,#7ec1f2, #4a62f9);

}

#qualifications ul:hover{
    box-shadow: 0 0 30px #7dc1f3;
}

#qualifications li{
    margin-bottom: 3%;
}
.hjjj{
    padding-top: 30px;
    clear: both;
    text-align: center;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg,#7ec1f2, #4a62f9);
    font-size: x-large;
}